<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Productos</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <el-button @click="create" type="primary">Nuevo</el-button>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="products"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="Nombre">
                </el-table-column>
                <el-table-column
                    prop="description"
                    label="Descripcion">
                </el-table-column>

                <el-table-column
                    label="Marca">
                    <template slot-scope="scope">
                        {{scope.row.brand.name}}
                    </template>
                </el-table-column>

                <el-table-column
                    prop="model"
                    label="Modelo">
                </el-table-column>
                <el-table-column
                    label="Categorias">
                    <template slot-scope="scope">
                        <span v-for="cat in scope.row.categories">
                            <el-tag style="margin-right: 5px" effect="dark">{{cat.name}}</el-tag>
                        </span>
                    </template>

                </el-table-column>

                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">
                        <el-button icon="fas fa-pencil-alt" type="warning" size="mini"
                                   @click="edit(scope.row)"></el-button>
                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                <el-form :model="form" ref="form" :rules="rules">
                    <el-form-item label="Nombre del producto" prop="name">
                        <el-input placeholder="Nombre del producto" v-model="form.name"></el-input>
                    </el-form-item>

                    <el-form-item label="Descripcion" prop="description">
                        <el-input placeholder="Descripcion" v-model="form.description"></el-input>
                    </el-form-item>

                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Marca" prop="brand_id">
                                <el-select style="width: 100%" v-model="form.brand_id" placeholder="Marca">
                                    <el-option
                                        v-for="item in brands"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Categorias" prop="categories">
                                <el-select multiple style="width: 100%" v-model="form.categories" placeholder="Categorias">
                                    <el-option
                                        v-for="item in categories"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-form-item label="Modelo" prop="model">
                        <el-input placeholder="Modelo" v-model="form.model"></el-input>
                    </el-form-item>

                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-dialog>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    import _ from 'lodash';

    export default {
        components: {
            Layout,
        },
        data() {
            return {
                baseUrl: '/products',
                products: [],
                brands: [],
                categories: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                form: {
                    name: '',
                    description: '',
                    brand_id: '',
                    model: '',
                    categories: []
                },
                rules: {
                    name: {required: true, message: 'El nombre del producto es requerido.'},
                    description: {required: true, message: 'La descripcion del producto es requerido.'},
                    brand_id: {required: true, message: 'La marca del producto es requerido.'},
                    model: {required: true, message: 'El modelo del producto es requerido.'},
                    categories: {required: true, message: 'Las categorias del producto es requerido.'},
                },
            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            clearForm() {
                this.$refs.form.resetFields();
            },
            create() {
                this.mode = 'Nuevo Producto';
                this.dialogVisible = true;
            },
            edit(item) {
                this.mode = 'Editar Producto';
                this.form = _.cloneDeep(item);
                this.form.categories = this.form.categories.map( ( {id} ) => id);
                this.dialogVisible = true;
            },
            submit() {
                this.$refs.form.validate(() => {
                    this.loading = true;
                    if (!this.form.id) {
                        this.$inertia.post(this.baseUrl, {
                            name: this.form.name,
                            description: this.form.description,
                            brand_id: this.form.brand_id,
                            model: this.form.model,
                            categories: this.form.categories,
                        }).then(
                            () => {
                                this.products = this.$page.products;
                                this.$message({
                                    type: 'success',
                                    message: 'Creado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    } else {
                        this.$inertia.put(this.baseUrl + '/' + this.form.id, {
                            name: this.form.name,
                            description: this.form.description,
                            brand_id: this.form.brand_id,
                            model: this.form.model,
                            categories: this.form.categories,
                        }).then(
                            () => {
                                this.products = this.$page.products;
                                this.$message({
                                    type: 'success',
                                    message: 'Guardado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    }
                });
            },
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a este Producto?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },
        },
        mounted() {
            if (this.$page.products) {
                this.products = this.$page.products;
            }

            if (this.$page.brands) {
                this.brands = this.$page.brands;
            }

            if (this.$page.categories) {
                this.categories = this.$page.categories;
            }
        }
    }
</script>
